body {
    margin: 0;
    overflow: hidden;
}
#game-container {
    position: relative;
    height: calc(100vh - 40px); /* Deduct space for the control buttons */
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}
#controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for better visibility */
}
button {
    margin: 10px;
}